# Angular redundancies
# Gradle useless stuff
# Mobile Tools for Java (J2ME)
# Package Files #
# Swap files
# Typings modules
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.ear
*.jar
*.sw*
*.war
.DS_Store
.gradle
.mtj.tmp/
build/
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/src/dummy-backend.js
frontend/typings/modules/
hs_err_pid*
npm-debug.log
