# Angular redundancies
# Gradle useless stuff
# Mobile Tools for Java (J2ME)
# Package Files #
*.war
*.ear

# Swap files
# Typings modules
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.jar
*.sw*
build/
backend/input/

# Gradle useless stuff
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

.DS_Store

# Angular redundancies
.DS_Store
.gradle
.mtj.tmp/
build/
frontend/dist/
frontend/node/
node_modules/
frontend/src/dummy-backend.js

# IntelliJ useless stuff
*.iml
*.idea 
frontend/typings/modules/
hs_err_pid*
npm-debug.log

backend/input/*
